@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   position: relative;
   overflow: hidden;
}
.wrapper > main {
   flex-grow: 1;
}
[class*="__container"] {
   max-width: 68.75rem;
   margin: 0 auto;
   padding: 0 0.9375rem;
}
body {
   font-family: 'Sniglet', cursive;
   font-size: 1.25rem;
   color: #363636;
   line-height: 1.5;
}
/* ================================================== */
.header {
   height: 18vh;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1.25rem;
   position: fixed;
   z-index: 50;
   width: 100%;
   background-color: #FFC0C0;
   border-radius: 1.875rem;
   transition: transform 0.5s ease 0s;
}
.header:hover .header__title {
   transform: translateX(0.3125rem) scale(1.02);
   transition: transform 0.5s ease 0s;
}
.header__container {
   display: flex;
   justify-content: center;
   gap: 1.25rem;
}
.header__logo {
   flex: 0 0 4rem;
   transform: scale(1);
   animation: heart-scale 1s ease infinite alternate forwards;
}
@keyframes heart-scale {
   0% {
      transform: scale(1.1);
   }
   100% {
      transform: scale(0.8);
   }
}
.header__logo img {
   max-width: 100%;
}
.header__title {
   text-align: center;
   font-size: 3.5rem;
   font-weight: 800;
   background: linear-gradient(93.51deg, #9B51E0 2.84%, #ed309e 99.18%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   /* color: #FF8585;
   text-shadow: 5px 5px 4px rgba(255, 255, 255, 0.6); */
   white-space: nowrap;
   transition: transform 0.5s ease 0s;
   will-change: transform;
}
@media(max-width:47.9988rem) {
   .header__title {
      font-size: 2.25rem;
      white-space: normal;
   }
}
.video {
   position: relative;
      background-color: #C4C4C4;
      border-radius: 1.875rem;
      overflow: hidden;
      padding-bottom: 50%;
}
.video video {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}
.video__item {
}
.video__play {
   cursor: pointer;
   width: 104px;
   height: 104px;
   background-color: #F13F00;
   border-radius: 50%;
   position: absolute;
   left: calc(50% - 3.25rem);
   top: calc(50% - 3.25rem);
   z-index: 10;
   display: flex;
   justify-content: center;
   align-items: center;
}
.video__play::after {
   content: url('../img/logo.svg');
}
/* ================================================== */
.page {
   padding-top: 19vh;
   padding-bottom: 15vh;
}
.lesson-block {
   background-color: #fce2e2;
   border-radius: 1.875rem;
   padding: 1.25rem;
   margin-bottom: 1.875rem;
}
.lesson__task:not(:last-child) {
   margin-bottom: 1.25rem;
}
.lesson__title {
   color: #FF8585;
   font-size: 2.25rem;
   font-weight: 800;
   text-align: center;
}
.lesson__title:not(:last-child) {
   margin-bottom: 1.25rem;
}
.lesson__tasks {
   padding-left: 1.875rem;
}
.lesson__task {
   color: #FF8585;
   font-size: 1.5rem;
}
.lesson__items {
   padding-left: 3.125rem;
   font-size: 1.25rem;
   color: #525252;
   /* min-width: 0; */
}
/* .lesson__item {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
} */
.lesson__item:not(:last-child) {
   margin-bottom: 1.25rem;
}
.lesson__item span {
   color: transparent;
}
.lesson__sublist {
   padding-left: 2.5rem;
}
.lesson__subitem:not(:last-child) {
   margin-bottom: 1.25rem;
}
.block {
   max-width: 43.75rem;
   max-height: 18.75rem;
   overflow: auto;
   margin: 0 auto;
   padding: 1.25rem;
   /* border: .625rem solid #FF8585; */
   border-radius: 1.875rem;
}
.block__text p:not(:last-child) {
   margin-bottom: 20px;
}
/* ================================================== */
.footer {
   height: 15vh;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1.25rem 0;
   position: fixed;
   bottom: 0;
   z-index: 25;
   width: 100%;
   background-color: #FFC0C0;
   border-radius: 1.875rem;
}
.footer__copy {
   font-size: 1.375rem;
   font-weight: 800;
   background: linear-gradient(93.51deg, #9B51E0 2.84%, #ed309e 99.18%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   /* color: #FF8585;
   text-shadow: 5px 5px 4px rgba(255, 255, 255, 0.6); */
   text-align: center;
}
@media(max-width:38.125rem) {
   .footer__copy {
      font-size: 1.125rem;
   }
}
/* ================================================== */